/* Welcome
----------
Hello, faithful mod!

+      o     +              o
    +             o     +       +
o          +
    o  +           +        +
+        o     o       +        o
-_-_-_-_-_-_-_,------,      o
_-_-_-_-_-_-_-|   /`_/`
-_-_-_-_-_-_-~|__( ^ .^)  +     +
_-_-_-_-_-_-_-""  ""
+      o         o   +       o
    +         +
o        o         o      o     +
    o           +
+      +     o        o      +

Now, some general guidelines from your founder (spleeyah).

1) Try not to screw anything up. :]
2) Please use two-space indent, not 4-space, not tab.
3) Please document your CSS.
4) Please keep line lengths at or under 80 characters. (my Python is showing)
5) No trailing whitespace!
6) Please use the one true bracing style. http://en.wikipedia.org/wiki/1TBS
7) When in doubt, play around on a test subreddit.

Good luck!
*/
/* -------------------------------------------------------------------------- */
/* Sticky Comments
-------------
*/
/*.comments-page .thing.id-t3_25tfht.link {
  margin-top: 215px;
}
.comments-page .thing.id-t1_chkuxyj.comment {
  width: 700px;
  height: 186px;
  position: absolute;
  top: 145px;
  left: 15px;
}*/

/* -------------------------------------------------------------------------- */
/* Announcement Banner
----------------------
This is enabled by styling an <h4> in the sidebar, which in markdown looks like:

#### Announcements: [My Link](/foo) etc.

To disable the announcements bar, comment out from here until "END ANNOUNCEMENT
BANNER" and/or remove the <h4> from the sidebar. As a side-effect, this means we
can't use any <h4>'s in the sidebar. Oh well.
*/
.content {
   margin-top: 56px !important;
}
.titlebox .md h4 {
  display: block;
  position: absolute;
  top: 80px;
  left: 8px;
  z-index: 9999;
  background-color: #fff !important;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
  padding: 10px !important;
  border: 1px solid #F0F0E6;
}
.titlebox .md h4 a {
  font-weight: normal; /* we don't want links in the banner to be bolded */
}
/* END ANNOUNCEMENT BANNER */
/* -------------------------------------------------------------------------- */
/* Mod Badges
-------------
To add any new mods, just copy+pasta.
*/
.author[href$="/user/spleeyah"]:after,
.author[href$="/user/apowers"]:after,
.author[href$="/user/inconditus"]:after,
.author[href$="/user/Nervette"]:after,
.author[href$="/user/The_Wookie"]:after,
.author[href$="/user/got-to-be-kind"]:after,
.author[href$="/user/junkimchi"]:after,
.author[href$="/user/ThumbtacksArePointy"]:after {
  content: " ";
  background-image: url(%%sprite-reddit%%);
  background-position: -34px -612px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 3px;
  left: 2px;
}
.side .content li .author[href$="/user/UCSD"],
.side .content li .author[href$="/user/SEO_Nuke"] {
  display: none;
}
/* END MOD BADGES */
/* Ask an Alum post
-------------
https://www.reddit.com/r/UCSD/comments/4cjpi0/ask_an_alum/
*/
#siteTable_t3_4cjpi0 .down { display: none; }
#siteTable_t3_4cjpi0 .author[href$="/user/arvindsatya"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/brianbsantacruz"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/daewang888"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/StrikerXVI"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/ffeli2098"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/helena_li"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/kmdsouthbay"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/rachelcorell"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/eletta"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/essayareayaitch"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/valgaze"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/spleeyah"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/Shaetan"]:after,
#siteTable_t3_4cjpi0 .author[href$="/user/lisam_ucsd"]:after {
  background-color: #FF0011;
  width: auto;
  padding: 2px 7px 0px 7px;
  height: 16px;
  display: inline-block;
  color: #fff;
  text-align: center;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
#siteTable_t3_4cjpi0 .author[href$="/user/arvindsatya"]:after {
  content: "Arvind S・Revelle・Computer Science";
}
#siteTable_t3_4cjpi0 .author[href$="/user/brianbsantacruz"]:after {
  content: "Brian B・Revelle・Physics (2009)";
}
#siteTable_t3_4cjpi0 .author[href$="/user/daewang888"]:after {
  content: "David W・Warren・Chemical Engineering (2009)";
}
#siteTable_t3_4cjpi0 .author[href$="/user/StrikerXVI"]:after {
  content: "Edgar C・Revelle・Psychology & Biology (2009)";
}
#siteTable_t3_4cjpi0 .author[href$="/user/ffeli2098"]:after {
  content: "Felipe C・Revelle・Chemical Engineering";
}
#siteTable_t3_4cjpi0 .author[href$="/user/helena_li"]:after {
  content: "Helena L・Revelle・Econ, Chinese Studies, Education (2009)";
}
#siteTable_t3_4cjpi0 .author[href$="/user/kmdsouthbay"]:after {
  content: "Kevin D・ERC・Economics";
}
#siteTable_t3_4cjpi0 .author[href$="/user/rachelcorell"]:after {
  content: "Rachel C・Revelle・Psychology & Theatre (2006)";
}
#siteTable_t3_4cjpi0 .author[href$="/user/eletta"]:after {
  content: "Richard C・Warren・Mechanical Engineering";
}
#siteTable_t3_4cjpi0 .author[href$="/user/essayareayaitch"]:after {
  content: "Sarah K・Revelle・Management Science (2003)";
}
#siteTable_t3_4cjpi0 .author[href$="/user/valgaze"]:after {
  content: "Victor A・ERC・Management Science (2009)";
}
#siteTable_t3_4cjpi0 .author[href$="/user/spleeyah"]:after {
  content: "Brandon C・Marshall・Computer Science (2012)";
  background-image: none;
}
#siteTable_t3_4cjpi0 .author[href$="/user/Shaetan"]:after {
  content: "Hooman H・Warren・Bioengineering: Biotech (2011)";
}
#siteTable_t3_4cjpi0 .author[href$="/user/lisam_ucsd"]:after {
  content: "Lisa M・Warren・Computer Engineering/Computer Science (2010)";
}
/* END ASK AN ALUM */
/* -------------------------------------------------------------------------- */
/* Hide "created by"
--------------------
The dude who created /r/UCSD abandonded it long ago. Spleeyah took it over
sometime in 2010, I think.
*/
.side .titlebox .bottom {
  color: #fff !important;
}
.side .titlebox .bottom .author {
  display: none;
}
.side .titlebox .bottom .age {
  color: gray !important;
}
/* END HIDE CREATED BY */
/* -------------------------------------------------------------------------- */
/* Sidebar Modifications
------------------------
Replacing text, taking over the world, etc. I chose the digits of pi as decimals
for "readers" and "here now" for no particular reason, really. Hopefully it
makes some people scratch their head for some underlying meaning. :)
*/
/* replace "readers" with something else */
div.titlebox .subscribers span.word {
  display: none;
}
/* "readers" prefix */
/*div.titlebox .subscribers span.number:before {
  content: "32,";
}*/
/* "readers" suffix */
div.titlebox .subscribers span.number:after {
  content: ".1415 Tritons";
}
/* replace "users here now" with something else */
div.titlebox .users-online span.word {
  display: none;
}
/* "here now" prefix */
/*div.titlebox .users-online span.number:before {
  content: "32,";
}*/
/* "here now" suffix */
div.titlebox .users-online span.number:after {
  content: ".9265 Tritons Tritoning now";
}
/* END SIDEBAR MODIFICATIONS */
/* -------------------------------------------------------------------------- */
/* Main Styles
--------------
What makes the /r/ look like it does. I usually try to keep it similar to
ucsd.edu, but if somebody wants to make a new design at some point, feel free.
*/
body {
  background: #13294B url(%%ucsd-trident-4%%) no-repeat fixed center center;
}
/* Header background gradient */
#header {
  background: url(%%geisel-wss-6%%);
  background-repeat: yes;
  background-position: center top;
  height: 200px;
  color: #fff;
  border-bottom-color: #ffdf05 !important;
  text-shadow: 0 1px 0 #000 !important;
}

#header-bottom-left { position: absolute; bottom: 0; }
.content {
  margin-top: 56px !important
}

/* Main body of posts (not sidebar) */
.content {
  background-color: #fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 338px;
  padding: 10px !important;
  border: 1px solid #ffdf05;
}
/* The sidebar */
.side {
  margin: 8px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #ffdf05;
  background-color: #fff;
  padding: 10px;
}
.side a,
.sidebox .spacer,
.titlebox form.toggle,
.leavemoderator {
  background-color: transparent;
}
.side hr {
  border: 0px;
  border-bottom: 1px solid gray;
  padding-top: 6px;
  margin-bottom: 6px;
}
/* The currently highlighted post. This might only be for RES users. */
.content .thing .entry.keyHighlight {
    outline-width: 0;
    border-right: 2px solid #0B4A67;
}
.keyHighlightSuper {
    outline-width: 0;
    background-color:green;
    border-right: 2px solid #0B4A67;
}
/* "My Reddits" Link */
.drop-choices a,
.dropdown.srdrop .selected {
  color: #13294B !important;
  text-shadow: none !important;
}
/* Top bar subreddit links */
#sr-header-area {
  background-color: rgba(255,223,5, 0.25);
  color: #13294B !important;
  border-bottom-color: #ffdf05 !important;
}

#sr-header-area:hover {
     -moz-transition: all .2s ease-in;
       -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;
  background-color: rgba(255,223,5, 0.875);
}

#sr-header-area a,
#sr-header-area .selected a,
#sr-header-area .sr-list .separator {
  color: #13294B !important;
  text-shadow: none !important;
}
.drop-choices {
  background-color: rgba(255,223,5, 0.875);
}
.flairselector.drop-choices {
  background-color: #fff !important;
}
/* END MAIN STYLES */
/* -------------------------------------------------------------------------- */
/* Link Flair
-------------
Ghetto-ass linkflair added by inconditus.
*/
.linkflair {
  outline-width: 0;
  border-right: 2px solid #0B4A67;
  background-color: #f0f3fc;
}
/* END LINK FLAIR */
/* -------------------------------------------------------------------------- */
/* User Flair
-------------
*/
.flair {
  color: #0B4A67;
  padding: 2px 3px;
  margin: 0 3px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}

.flair-dark-l33t {
  color: #00F000;
  background-color: #00000A;
}

/* END USER FLAIR */
/* -------------------------------------------------------------------------- */
/* Header/Footer
----------------
*/
#header-bottom-right,
#header-bottom-right a,
#header-bottom-right .user,
#sr-bar .separator {
  background-color: #ffdf05 !important;
  color: #13294B  !important;
  text-shadow: none !important;
}
.footer-parent {
  background-color: #ffdf05;
  color: #ffdf05;
  padding-bottom:50px !important;
  border-color: #13294B !important;
}
.footer-parent a, .footer-parent li.title, .bottommenu {
  color: #13294B !important;
  border-color: #13294B !important;
}
/* END HEADER/FOOTER */
/* -------------------------------------------------------------------------- */
/* Miscellaneous
----------------
Anything else I can't categorize.
*/
/* Menu bar */
#header .tabmenu li a {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  font-variant: small-caps;
  background-color: rgba(19, 41, 75, 0.5) !important;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 0 1px 0 #000;
  color: #fff !important;
  border: 1px solid #ffdf05;
  border-bottom: 0px;
}

#header .tabmenu li:hover a {
  background-color: rgba(19, 41, 75, 0.75) !important;
  color: #fff !important;
}

#header .tabmenu li.selected a {
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(19, 41, 75, 1.0) !important;
  border-bottom: 0px;
  color: #fff !important;
}
/* UCSD title */
.pagename a {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 150%;
  font-weight: normal;
  text-shadow: 0 1px 0 #000;
  letter-spacing: 0.1em;
  margin-right: 7px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a[href="/spacer"] {
  width: 1px;
  height: 20px;
}
/* Upvote/downvote buttons */
.midcol {
  width: 20px;
  overflow:visible;
}

.comment .midcol{
  position:relative;
  padding:10px 10px 10px 10px;
}

div.up {
  width: 20px !important;
  height: 28px !important;
  background: url(%%voteicons-5%%) !important;
  background-repeat: no-repeat !important;
  background-position: 0px 0px !important
}
div.upmod {
  width: 20px !important;
  height: 28px !important;
  background: url(%%voteicons-5%%) !important;
  background-repeat: no-repeat !important;
  background-position: -20px 0px !important
}
div.down {
  width: 20px !important;
  height: 20px !important;
  background: url(%%voteicons-5%%) !important;
  background-repeat: no-repeat !important;
  background-position: 0px -32px !important
}
div.downmod {
  width: 20px !important;
  height: 20px !important;
  background: url(%%voteicons-5%%) !important;
  background-repeat: no-repeat !important;
  background-position: -20px -32px !important
}

/* END MISCELLANEOUS */
/* -------------------------------------------------------------------------- */
/* Rage Faces
-------------
Gotta love 'em. Shamelessly stolen from /r/f7u12, but probably way out of date.
*/
a[href="/troll"]:after, a[href="/pft"]:after, a[href="/wat"]:after,
a[href="/yey"]:after, a[href="/surprised"]:after, a[href="/suprised"]:after,
a[href="/ok"]:after, a[href="/happy"]:after, a[href="/hmm"]:after,
a[href="/harpdarp"]:after, a[href="/notsure"]:after, a[href="/megusta"]:after,
a[href="/megustaperfect"]:after {
  width: 25px;
  height: 25px;
  content: "";
  background-image: url(%%ragez%%);
  display: inline-block
}
a[href="/megusta"]:after {
  background-position: -120px -60px
}
a[href="/megustaperfect"]:after {
  width: 60px;
  height: 55px;
  background-position: -30px -180px;
}
a[href="/troll"]:after {
  background-position: -150px -60px;
}
a[href="/pft"]:after {
  background-position: -270px -60px;
}
a[href="/happy"]:after {
  background-position: -120px -30px;
}
a[href="/wat"]:after {
  background-position: -180px -30px;
}
a[href="/yey"]:after {
background-position: -210px -30px;
}
a[href="/notsure"]:after {
  height: 34px;
  background-position: 0px -180px;
}
a[href="/ok"]:after {
  width: 30px;
  background-position: 0px -150px;
}
a[href="/hmm"]:after {
  width: 26px;
  height: 28px;
  background-position: -210px -120px;
}
a[href="/harpdarp"]:after {
  width: 40px;
  height: 40px;
  background-position: -60px -90px;
}
a[href="/surprised"]:after, a[href="/suprised"]:after,
a[href="/awyeah"]:after, a[href="/awyea"]:after {
  width: 25px;
  height: 25px;
  content: "";
  background-image: url(%%ragez-new%%);
  display: inline-block;
}
a[href="/surprised"]:after, a[href="/suprised"]:after {
  background-position: -136px -44px;
}
a[href="/awyeah"]:after, a[href="/awyea"]:after {
  width: 65px;
  height: 40px;
  background-position: -136px 0px;
}
a[href="/fap"]:after, a[href="/schlick"]:after,
a[href="/yuno"]:after, a[href="/foreveralonelaugh"]:after {
  content: "";
  background-image: url(%%new-rage%%);
  display: inline-block;
}
a[href="/fap"]:after {
  width: 40px;
  height: 45px;
  background-position: -46px -85px;
}
a[href="/schlick"]:after {
  width: 39px;
  height: 45px;
  background-position: -86px -85px;
}
a[href="/yuno"]:after {
  width: 45px;
  height: 43px;
  background-position: 0px -41px;
}
a[href="/foreveralonelaugh"]:after {
  width: 95px;
  height: 90px;
  background-position: -205px 0px;
}
/* Advice animals */
a[href="/sapenguin"]:after {
  width: 25px;
  height: 40px;
  content: "";
  background-image: url(%%advice-animals%%);
  background-position: -39px 0;
  display: inline-block;
}
/* Other crap */
a[href="/ucsd"]:after {
  width: 50px;
  height: 32px;
  content: "";
  background-image: url(%%ucsd%%);
  background-position: top left;
  display: inline-block;
}
a[href="/awwwyeahhh"]:after {
  width: 150px;
  height: 99px;
  content: "";
  background-image: url(%%awwwyeahhh%%);
  background-position: top left;
  display: inline-block;
}
/* END RAGE FACES */
/* night mode version below - /u/richniggatimeline */
.res-nightmode #header {
  background: url(%%geisel-night%%);
  background-repeat: yes;
  background-position: center top;
  height: 200px;
  border-bottom-color: #6e7f80;
}

.res-nightmode #header .tabmenu li:hover a {
  background-color: rgba(54,69,79,0.75) !important;
}

.res-nightmode #header .tabmenu li.selected a {
  text-transform: uppercase;
  border: 2px solid #6e7f80;
  background-color: rgba(54,69,79,1.0) !important;
  border-bottom: 0px;
}
.res-nightmode #header .tabmenu li a {
       -moz-border-radius-topleft: 5px;
   -webkit-border-top-left-radius: 5px;
      -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  font-weight: bold;
  padding-left: 10px;
  font-variant: small-caps;
  background-color: rgba(54,69,79,0.5) !important;
  padding-right: 10px;
  text-shadow: 0 1px 0 #000;
  border: 1px solid #6e7f80;
  border-bottom: 0px
}

.res-nightmode .content {
  background-color: #536878;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 338px;
  padding: 10px !important;
  border: 1px solid #6e7f80
}

.res-nightmode .footer-parent {
  background-color: #536878;
  color: #ffdf05;
  padding-bottom:50px !important;
  border-color: #6e7f80 !important;
}

.res-nightmode .footer-parent a, 
.res-nightmode .footer-parent li.title, 
.res-nightmode .bottommenu {
  color: #6e7f80 !important;
  border-color: #6e7f80 !important;
}

.res-nightmode #header-bottom-right, 
.res-nightmode #header-bottom-right a, 
.res-nightmode #header-bottom-right .user, 
.res-nightmode #sr-bar .separator {
  color: #fff;
  background-color: #536878;
}

.res-nightmode #sr-header-area {
  background-color: rgba(83,104,120,0.5) !important;
  color: rgba(255,255,255,0.5) !important;
  border-bottom-color: #536878;
}

.res-nightmode #sr-header-area a,
.res-nightmode #sr-header-area .selected a,
.res-nightmode #sr-header-area .sr-list .separator {
  color: #rgba(255,255,255,0.55);
}

.res-nightmode #sr-header-area:hover {
     -moz-transition: all .2s ease-in;
       -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;
  background-color: rgba(83,104,120,0.75) !important;
}

.res-nightmode .side {
  margin: 8px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #6e7f80;
  padding: 10px;
}

.res-nightmode .side hr,
.res-nightmode .sidecontentbox .content {
  width: 263px !important;
  border: 1px solid #6e7f80;
}

.res-nightmode .side .titlebox .bottom {
  color: transparent !important;
}
.res-nightmode .side .titlebox .bottom .author {
  display: none;
}

.res-nightmode #sr-header-area a, 
.res-nightmode #sr-header-area .selected a, 
.res-nightmode #sr-header-area .sr-list .separator {
  color: rgba(255,255,255,0.5) !important;
}
/* -------------------------------------------------------------------------- */
/*
<3 spleeyah
minor appearance updates in 2016 - richniggatimeline
*/
